# =========================
# SorekillTeams - config.yml
# =========================

update_checker:
  enabled: true
  github:
    owner: "thesorekill"
    repo: "SorekillTeams"

  # Notify ops in-game if an update is available
  notify_ops_on_join: true

storage:
  type: yaml
  autosave_seconds: 60

teams:
  # Default max members if owner doesn't have a sorekillteams.max.<n> permission
  max_members_default: 4

  name:
    min_length: 3
    max_length: 16
    allowed_plain: "a-zA-Z0-9_"
    allow_color_codes: true
    allow_bold: true
    allow_reset: true

  reserved_names:
    enabled: true
    list:
      - "owner"
      - "admin"
      - "mod"
      - "helper"
      - "vip"
      - "default"

  reserved_match:
    levenshtein_distance: 2

invites:
  expiry_seconds: 300
  cooldown_seconds: 10
  purge_seconds: 60

chat:
  enabled: true
  format: "&8&l(&c&l{team}&8&l) &f{player} &8&l> &c{message}"
  toggle_enabled: true
  debug: false

friendly_fire:
  enabled: false              # true = friendly fire allowed (no blocking)
  include_projectiles: true
  include_area_effect_clouds: true
  include_explosives: true
  message:
    enabled: true
    cooldown_ms: 1000

homes:
  enabled: true
  max_homes: 3
  server_name: "survival"
  warmup_seconds: 0
  cooldown_seconds: 5

integrations:
  placeholderapi: true
  miniplaceholders: true

files:
  messages: "messages.yml"
